.hotel-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  color: #42ebf4;
  background: rgba(0, 0, 0, 0.25);
  padding: 1rem;
  font-size: 25px;

  h3,
  input {
    margin-bottom: 5%;
  }

  button {
    align-self: flex-end;
    max-width: 200px;
    background-color: #0a244f;
    color: #42ebf4;
  }
}
