$success: #77ff80;
$warning: #f9f92c;
$error: #c91e1e;
$message-text: #fff;

body {
  background-image: url('./img/bora_bora_beach.jpeg');
  background-size: cover;
  font-family: helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hotel-list {
  background: rgba(0, 0, 0, 0.25);
  padding: 1rem;
  width: 100%;
  font-size: 20px;

  h2,
  p {
    color: #42ebf4;
  }

  li {
    margin: 10px 0;
    color: #42ebf4;
  }
}

a,
a:hover,
a:visited,
a:active {
  color: #42ebf4;
}

.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $message-text;
  color: $message-text;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  color: #42ebf4;
  background: rgba(0, 0, 0, 0.25);
  padding: 1rem;
  font-size: 20px;

  h3,
  input {
    margin-bottom: 5%;
  }

  button {
    align-self: flex-end;
    max-width: 200px;
    background-color: #0a244f;
    color: #42ebf4;
  }
}
