$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;

body {
  background-image: url('./img/bora_bora_beach.jpeg');
  background-size: cover;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:visited,
a:active {
  color: #42ebf4;
}

.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $charcoal;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15% auto 0;
  max-width: 600px;
  color: #0a244f;

  h3,
  input {
    margin-bottom: 5%;
  }

  button {
    align-self: flex-end;
    max-width: 200px;
    background-color: #0a244f;
    color: #42ebf4;
  }
}
